body {
	font-family: 'Open Sans', Helvetica,Arial,sans-serif;
	background-color: #e0ebeb;
}

#logo {
	text-align: center;
	border-style: inset;
	border-width: 7px;
	border-color: black;
	margin: 20px 10px 20px 10px;

}
#form h2 {
	margin: 20px 10px 20px 0;
}

#form p{
	position: relative;
}
#form {
    display: flex;
    float: left;
}
input {
    display: block;
}
td {
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
}
select {
    width: 400px;
    text-align-last:center;
}
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
